aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
redis==3.5.3
prometheus-client==0.11.0
armar==1.1.0
gym==0.18.3
klimits==1.1.1
matplotlib==3.3.4
numpy==1.19.5
pybullet==3.1.7
ray[default]==1.4.1
ray[rllib]==1.4.1
tensorflow==2.5.0
